<!DOCTYPE html>
<html>
<head>
  <title>AWADNewsApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Headlines", headlines_path %>
<%= link_to "Comments", comments_path %>

<!-- Put page format in here !-->

<%= yield %>

</body>
</html>
